.post-container {
    text-align: left;
    margin-left: 20px;
    border: 1px solid lightgrey;
    width: 600px;
    margin-top: 25px;
    .thumb {
        height: 40px;
        width: 40px;
        border-radius: 20px;
        margin: 10px;
    }
    .main-image{
        width: 100%;
    }
    .post-header {
        display: flex;
        align-items: center;
        p {
            font-weight: 700;
        }
    }
    .likes {
        font-weight: 700;
    }
}

